@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@600;700&display=swap');

$primaryColor:#49326b;
$secondaryColor:#bc9c22;
$light:#fff;
$gray:#e3e6e0;
$montFont:'Montserrat', sans-serif;
$openFont:'Open Sans', sans-serif;

$theme-colors: (
  "primary": $primaryColor,
  "secondary": $secondaryColor,
  "light": $light,
);

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 576px){
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px){
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1199px){
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1200px){
    @content;
  }
}