// wide screens

@include mediaXl{
  
}
@include mediaLg{

}
@include mediaMd{
  #showcase{
    .container{
      div{
        h1{
          width: 100%;
        }
      }
    }
  }
  #social{
    .socials{
      a{
        &:nth-child(1){
          margin-left: 0;
        }
      }
    }
  }
  #about{
    .container{
      .body-text{
        margin-left: 0;
        text-align: center;
      }
      .img {
        display: none;
      }
    }
  }
  #services{
    .container{
      .body-text{
        margin-left: 0;
        text-align: center;
      }
      .img {
        display: none;
      }
    }
  }
  #contact{
    .heading{
      text-align: center;
    }
  }
}
@include mediaSm{
  
}