@import 'config';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat';
  line-height: 1.5;
  background:$light;
  width: 100%;
  height: 100%;
}

body::before {
  display:block;
  content: '';
  height: 126px;
}

// Nav

.navbar-nav{
}

// Showcase
.bg-img{
  background: url(../img/demoshowcase.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

//Social medias


// Verses

.box{
}

// Map
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}



@import 'mobile';